// Color
$black: #594F4F;
$white: #FFFFFF;
$red: #EB5757;
$green: #6AC259;
$grey: #828282;
$gray: #BDBDBD;
$success: #28A745;
$warning: rgb(255, 193, 7);

$main-color-blue: #14A9E3;
$main-color-orange: #FE9A3B;

$main-bg-color: #F7F8FA;
$tag-bg-orange: #FAECDE;

$text-color-blue: #157EA6;

$time-color-grey: #9A9A9A;

$border-color-grey: #E0E0E0;

$card-bg-blue: #EFF2F7;
$card-text-blue: #1A9AAC;

$breakpoints: (
        'screen-under-tiny0': (max-width: 320px),
        'screen-under-tiny': (max-width: 375px),
        'screen-under-small': (max-width: 576px),
        'screen-under-medium': (max-width: 768px),
        'screen-under-large': (max-width: 992px),
        'screen-under-huge': (max-width: 1200px),

        'screen-upper-tiny': (max-width: 375px),
        'screen-upper-small': (min-width: 576px),
        'screen-upper-medium': (min-width: 768px),
        'screen-upper-large': (min-width: 992px),
        'screen-upper-huge': (min-width: 1200px)
);

@mixin respond-to($breakpoints-input) {
  $media-query: '';
  @each $breakpoint in $breakpoints-input {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
      $query: if(
                      type-of($raw-query) == 'string',
                      unquote($raw-query),
                      inspect($raw-query)
      );

      @if $media-query == '' {
        $media-query: $query
      } @else {
        $media-query: $media-query + ' and ' + $query;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }

  @media #{$media-query} {
    @content;
  }
}

.popup-notification {
  position: absolute;
  display: none;
  opacity: 0;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  width: 34vw;
  max-width: 500px;
  max-height: 300px;
  top: 20%;
  left: 50%;
  margin-left: -17vw;
  box-shadow: 0 0 25px grey;
  padding: 30px;
  text-align: center;
  z-index: 10;
  transition: 0.3s ease-in-out;

  @include respond-to(('screen-under-medium')) {
    width: 50vw;
    margin-left: -25vw;
  }

  @include respond-to(('screen-under-small')) {
    width: 80vw;
    margin-left: -40vw;
  }

  .icon-popup-status {
    background: transparent;
    border-radius: 50%;
    border: 3px solid;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation: popup-icon-circle 0.3s linear;

    @include respond-to(('screen-under-medium')) {
      width: 10vw;
      height: 10vw;
    }

    @include respond-to(('screen-under-small')) {
      width: 15vw;
      height: 15vw;
    }

    i {
      font-size: 3rem;
      animation: popup-icon-rotate 0.5s linear;

      @include respond-to(('screen-under-medium')) {
        font-size: 2.5rem;
      }

      @include respond-to(('screen-under-tiny')) {
        font-size: 2.2rem;
      }
    }
  }

  .popup-title {
    font-size: 22px;
    font-weight: 700;
    color: $black;
    margin: 18px 0 10px;

    @include respond-to(('screen-under-small')) {
      font-size: 18px;
    }
  }

  .popup-message {
    font-size: 18px;
    color: $grey;
    margin-bottom: 30px;

    @include respond-to(('screen-under-small')) {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .close-popup-container {
    width: 23%;
    margin: 0 auto;
    padding: 0 2px;
    border-radius: 5px;
    border: 2px solid $border-color-grey;
    background: $white;
    transition: 0.2s ease-in-out;

    @include respond-to(('screen-under-medium')) {
      padding: 2px;
    }

    &:hover {
      border-color: $white;
      cursor: pointer;
    }
  }

  &.status-success {
    .icon-popup-status {
      color: $success;

      .fas-check {
        display: block;
      }

      .fas-times {
        display: none;
      }

      .fas-ellipsis-h {
        display: none;
      }
    }
  }

  &.status-error {
    .icon-popup-status {
      color: $red;

      .fas-times {
        display: block;
      }

      .fas-check {
        display: none;
      }

      .fas-ellipsis-h {
        display: none;
      }
    }
  }

  &.status-warning {
    .icon-popup-status {
      color: $warning;

      .fas-ellipsis-h {
        display: block;
      }

      .fas-times {
        display: none;
      }

      .fas-check {
        display: none;
      }
    }
  }

  &.status-normal {
    .icon-popup-status {
      display: none;
    }
  }
}

.popup-wrap-shadow {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0 , 0.8);
  z-index: 9;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
